.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #000000;
  background-image: url('./assets/drink-background.png');
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;

  gap: 12px;
}

.title  {
  color: white;
  font-size: 48px;
  margin-bottom: 12px;
}

.paragraph {
  color: white;
  font-size: 24px;
  font-weight: bold;
}